<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand><router-link to="/">Becon Searching Job</router-link></b-navbar-brand>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item><router-link router-link class="btn btn-dark" to="/login">Login</router-link></b-nav-item>
          <b-nav-item><router-link router-link class="btn btn-dark" to="/register">Register</router-link></b-nav-item>
          <!--<b-nav-item ><router-link router-link class="btn btn-dark" to="/register">Register</router-link></b-nav-item>-->
        </b-navbar-nav>

        <!-- Right aligned nav items -->
      </b-collapse>
    </b-navbar>
  </div>
</template>
