<template>
  <div>
  <b-nav vertical class="w-25">
    <b-nav-item active><router-link to="/">Home</router-link></b-nav-item>
    <b-nav-item><router-link to="/users">Resume</router-link></b-nav-item>
    <b-nav-item><router-link to="/works">Works</router-link></b-nav-item>
    <b-nav-item><router-link to="/compangs">Company</router-link></b-nav-item>
    <b-nav-item><router-link to="/member">Member</router-link></b-nav-item>
  </b-nav>
</div>
</template>
