<template>
  <div>
    <article class="all-works">
      <b-card class="works" border-variant="secondary">
        <h3>{{ work.id }}</h3>
        <p>
          <b>ตำแหน่ง: {{ work.position }}</b>
        </p>
        <span>เงินเดือน: {{ work.salary }}</span>
      </b-card>
    </article>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&display=swap');
.all-works {
  font-family: 'Kanit', sans-serif;
  padding-bottom: 15px;
}
</style>

<script>
export default {
  works: ['work']
}
</script>
