<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add Resume</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="IdCardCode"
          label-for="idCardCode"
          :valid-feedback="validfeedbackIdCardCode"
          :invalid-feedback="invalidFeedbackIdCardCode"
          :state="stateIdCardCode"
        >
          <b-form-input
            id="idCardCode"
            v-model="form.idCardCode"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Name"
          label-for="name"
          :valid-feedback="validfeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Gender:"
          label-for="gender"
          :valid-feedback="validfeedbackGender"
          :invalid-feedback="invalidFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Address"
          label-for="address"
          :valid-feedback="validfeedbackAddress"
          :invalid-feedback="invalidFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input
            id="address"
            v-model="form.address"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Education:"
          label-for="education"
          :valid-feedback="validfeedbackEducation"
          :invalid-feedback="invalidFeedbackEducation"
          :state="stateEducation"
        >
          <b-form-select
            id="education"
            v-model="form.education"
            :options="educationOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import userService from './userService'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้งานใหม่',
      form: {
        id: -1,
        idCardCode: '',
        name: '',
        gender: 'null',
        address: '',
        education: 'null'
      },
      genderOptions: [
        { value: null, text: 'Select One' },
        { value: 'M', text: 'ผู้ชาย' },
        { value: 'F', text: 'ผู้หญิง' }
      ],
      educationOptions: [
        { value: null, text: 'Select One' },
        { value: 'มัธยมศึกษาตอนปลาย', text: 'มัธยมศึกษาตอนปลาย' },
        { value: 'อาชีวศึกษา', text: 'อาชีวศึกษา' },
        { value: 'อุดมศึกษา', text: 'อุดมศึกษา' },
        { value: 'ปริญญาตรี', text: 'ปริญญาตรี' },
        { value: 'ปริญญาโท', text: 'ปริญญาโท' },
        { value: 'ปริญญาเอก', text: 'ปริญญาเอก' }
      ],
      userList: [],
      fields: [
        // { key: 'id', label: 'ID' },
        'National ID Card',
        'Name-LastName',
        'gender',
        'address',
        'education',
        'operation'
      ]
    }
  },
  methods: {
    editUser (user) {
      this.title = 'แก้ไข้ผู้ใช้งาน'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการที่จะลบ ' + user.name + ' หรือไม่!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/users/' + user._id)
              .then(res => {
                console.log(res)
                this.getUsers()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    addNewUser () {
      this.$bvModal.show('modal-form-user')
    },
    getUsers () {
      axios
        .get('http://localhost:3000/users')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        idCardCode: '',
        name: '',
        gender: null,
        address: '',
        education: null
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateIdCardCode === false ||
        this.stateName === false ||
        this.stateGender === false ||
        this.stateAddress === false ||
        this.stateEducation === false
      ) {
        return
      }
      if (this.form._id !== '') {
        // userService.updateUser(this.form)
        axios
          .put('http://localhost:3000/users', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/users', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
        this.getUsers()
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    }
  },
  computed: {
    stateIdCardCode () {
      return this.form.idCardCode.length === 13
    },
    invalidFeedbackIdCardCode () {
      if (this.form.idCardCode.length === 0) {
        return 'กรุณาใส่รหัสบัตรประจำตัวประชาชน 13 หลัก'
      } else if (this.form.idCardCode.length > 0) {
        return 'รหัสบัตรประจำตัวประชาชนต้องมี 13 หลัก'
      }
      return ''
    },
    validfeedbackIdCardCode () {
      return this.stateIdCardCode === true ? 'สำเร็จ' : ''
    },
    stateName () {
      return this.form.name.length >= 5
    },
    invalidFeedbackName () {
      if (this.form.name.length === 0) {
        return 'กรุณาใส่ชื่อ-นามสกุลของคุณ'
      } else if (this.form.name.length < 5) {
        return 'ชื่อ-นามสกุลรวมกันต้องมีมากกว่า 5 ตัวอักษร'
      }
      return ''
    },
    validfeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรูณาเลือกเพศของคุณ'
      }
    },
    validfeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateAddress () {
      return this.form.address.length >= 10
    },
    invalidFeedbackAddress () {
      if (this.form.address.length === 0) {
        return 'กรุณาใส่ที่อยู่ของคุณ'
      } else if (this.form.address.length < 10) {
        return 'ที่อยู่ต้องมีมากกว่า 10 ตัวอักษร'
      }
      return ''
    },
    validfeedbackAddress () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    },
    stateEducation () {
      return this.form.education != null
    },
    invalidFeedbackEducation () {
      if (this.form.education != null) {
        return ''
      } else {
        return 'กรุณาเลือกระดับการศึกษาของคุณ'
      }
    },
    validfeedbackEducation () {
      return this.stateEducation === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    console.log('ooooo')
    this.getUsers()
  }
}
</script>
