<template>
  <div>
    <div>
      <b-button variant="success" class="float-right"  @click="addData">Add Member</b-button>
      <b-table striped hover :items="exampleData" :fields="fields">
        <template v-slot:cell(operation)="data">
          <b-button @click="editData(data.item)">Edit</b-button>&nbsp;
          <b-button variant="danger" @click="delData(data.item)">Delete</b-button>
        </template>
      </b-table>
      <b-modal
        id="modal-form-user"
        ref="modal-form-user"
        :title="title"
        @hidden="resetModal"
        @ok="handleOk"
      >
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-form-group
            label="ชื่อ"
            label-for="name"
            :invalid-feedback="invalidFeedbackName"
            :valid-feedback="validFeedbackName"
            :state="stateName"
          >
            <b-form-input id="name" v-model="form.name" required></b-form-input>
          </b-form-group>
          <b-form-group
            label="ชื่อผู้ใช้งาน"
            label-for="username"
            :invalid-feedback="invalidFeedbackUsername"
            :valid-feedback="validFeedbackUsername"
            :state="stateUsername"
          >
            <b-form-input
              id="username"
              v-model="form.username"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            label="รหัสผ่าน"
            label-for="password"
            :invalid-feedback="invalidFeedbackPassword"
            :valid-feedback="validFeedbackPassword"
            :state="statePassword"
          >
            <b-form-input type="password"
              id="password"
              v-model="form.password"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            label="ยืนยันรหัสผ่าน"
            label-for="confirmpassword"
            :invalid-feedback="invalidFeedbackConfirmpassword"
            :valid-feedback="validFeedbackConfirmpassword"
            :state="stateConfirmpassword"
          >
            <b-form-input type="password"
              id="confirmpassword"
              v-model="form.confirmpassword"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            label="ประเภท:"
            label-for="type"
            :invalid-feedback="invalidFeedbackType"
            :valid-feedback="validFeedbackType"
            :state="stateType"
          >
            <b-form-select
              id="type"
              v-model="form.type"
              :options="typeOptions"
              required
            ></b-form-select>
          </b-form-group>
        </form>
        <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card>
      </b-modal>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้งาน',
      form: {
        _id: '',
        name: '',
        username: '',
        password: '',
        confirmpassword: '',
        type: null
      },
      typeOptions: [
        { text: 'โปรดเลือก', value: null },
        { value: 'สมาชิก', text: 'สมาชิก' },
        { value: 'บริษัท', text: 'บริษัท' },
        { value: 'เจ้าหน้าที่', text: 'เจ้าหน้าที่' }
      ],
      exampleData: [],
      fields: [
        { key: '_id', label: 'ID' },
        { key: 'name', label: 'Name' },
        { key: 'username', label: 'User' },
        { key: 'password', label: 'Password' },
        { key: 'confirmpassword', label: 'Confirm Password' },
        { key: 'type', label: 'Type' },
        { key: 'operation', label: 'Option' }
      ]
    }
  },
  methods: {
    addData () {
      console.log('เพิ่มสมาชิก')
      this.$bvModal.show('modal-form-user')
    },
    editData (user) {
      console.log('Edit' + user)
      this.title = 'แก้ไขผู้ใช้งาน'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delData (user) {
      console.log('Del' + user)
      this.$bvModal
        .msgBoxConfirm('ลบข้อมูลผู่ใช้งาน ' + user.name, {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'ลบ',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/members/' + user._id)
              .then(res => {
                console.log(res)
                this.getUsers()
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        username: '',
        password: '',
        confirmpassword: '',
        type: null
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateName === false ||
        this.stateUsername === false ||
        this.statePassword === false ||
        this.stateConfirmpassword === false ||
        this.stateType === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/members', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/members', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getUsers () {
      axios
        .get('http://localhost:3000/members')
        .then(res => {
          console.log(res)
          this.exampleData = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'กรุณาใส่ชื่ออย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'ผ่าน' : ''
    },
    stateUsername () {
      return this.form.username.length >= 3
    },
    invalidFeedbackUsername () {
      if (this.form.username.length > 3) {
        return ''
      } else if (this.form.username.length > 0) {
        return 'กรุณาใส่ชื่อสมาชิกอย่างน้อย 3 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อสมาชิก'
      }
    },
    validFeedbackUsername () {
      return this.stateUsername === true ? 'ผ่าน' : ''
    },

    statePassword () {
      return this.form.password.length >= 3
    },
    invalidFeedbackPassword () {
      if (this.form.password.length > 3) {
        return ''
      } else if (this.form.password.length > 0) {
        return 'กรุณาใส่รหัสผ่านอย่างน้อย 3 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อรหัสผ่าน'
      }
    },
    validFeedbackPassword () {
      return this.statePassword === true ? 'ผ่าน' : ''
    },

    stateConfirmpassword () {
      return this.form.confirmpassword === this.form.password
    },
    invalidFeedbackConfirmpassword () {
      if (this.form.confirmpassword === this.form.password) {
        return ''
      } else if (this.form.confirmpassword !== this.form.password) {
        return 'กรุณาใส่ยืนยันรหัสผ่านให้ถูกต้อง'
      } else {
        return 'กรุณาใส่ยืนยันรหัสผ่าน'
      }
    },
    validFeedbackConfirmpassword () {
      return this.stateConfirmpassword === true ? 'ผ่าน' : ''
    },
    stateType () {
      return this.form.type != null
    },
    invalidFeedbackType () {
      if (this.form.type != null) {
        return ''
      } else {
        return 'กรุณาเลือกประเภท'
      }
    },
    validFeedbackType () {
      return this.stateType === true ? 'ผ่าน' : ''
    }
  },
  mounted () {
    this.getUsers()
  }
}
</script>
