<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewWork"
      >Add Work</b-button
    >
    <b-modal
      id="modal-form-work"
      ref="modal-form-work"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Type"
          label-for="type"
          :valid-feedback="validFeedbackType"
          :invalid-feedback="invalidFeedbackType"
          :state="stateType"
        >
          <b-form-select
            id="type"
            v-model="form.type"
            :options="typeOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Workname"
          label-for="workname"
          :valid-feedback="validFeedbackWorkname"
          :invalid-feedback="invalidFeedbackWorkname"
          :state="stateWorkname"
        >
          <b-form-input
            id="workname"
            v-model="form.workname"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Position"
          label-for="position"
          :valid-feedback="validFeedbackPosition"
          :invalid-feedback="invalidFeedbackPosition"
          :state="statePosition"
        >
          <b-form-select
            id="position"
            v-model="form.position"
            :options="positionOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Amount"
          label-for="amount"
          :valid-feedback="validFeedbackAmount"
          :invalid-feedback="invalidFeedbackAmount"
          :state="stateAmount"
        >
          <b-form-input
            id="amount"
            v-model="form.amount"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Salary"
          label-for="salary"
          :valid-feedback="validFeedbackSalary"
          :invalid-feedback="invalidFeedbackSalary"
          :state="stateSalary"
        >
          <b-form-select
            id="salary"
            v-model="form.salary"
            :options="salaryOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Details"
          label-for="details"
          :valid-feedback="validFeedbackDetails"
          :invalid-feedback="invalidFeedbackDetails"
          :state="stateDetails"
        >
          <b-form-textarea
            id="details"
            v-model="form.details"
            required
          ></b-form-textarea>
        </b-form-group>
        <b-form-group
          label="วันที่เปิดรับ"
          label-for="opendate"
          :invalid-feedback="invalidFeedbackOpendate"
          :valid-feedback="validFeedbackOpendate"
          :state="stateOpendate"
        >
          <b-form-input
            id="opendate"
            v-model="form.opendate"
            type="text"
            placeholder="ปี-เดือน-วัน"
            autocomplete="off"
          ></b-form-input>
          <b-input-group-append>
            <b-form-datepicker
              v-model="form.opendate"
              button-only
              right
              locale="en-US"
              aria-controls="opendate"
            ></b-form-datepicker>
          </b-input-group-append>
        </b-form-group>
        <b-form-group
          label="วันที่ปิดรับ"
          label-for="closedate"
          :invalid-feedback="invalidFeedbackClosedate"
          :valid-feedback="validFeedbackClosedate"
          :state="stateClosedate"
        >
          <b-form-input
            id="closedate"
            v-model="form.closedate"
            type="text"
            placeholder="ปี-เดือน-วัน"
            autocomplete="off"
          ></b-form-input>
          <b-input-group-append>
            <b-form-datepicker
              v-model="form.closedate"
              button-only
              right
              locale="en-US"
              aria-controls="closedate"
            ></b-form-datepicker>
          </b-input-group-append>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="workList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editWork(data.item)">Edit</b-button>
        &nbsp;
        <b-button @click="delWork(data.item)" variant="danger">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
// import workService from './WorkService'
export default {
  data () {
    return {
      title: 'เพิ่มงานใหม่',
      form: {
        No: -1,
        type: null,
        workname: '',
        position: null,
        amount: 0,
        salary: null,
        opendate: '',
        closedate: '',
        details: ''
      },
      typeOptions: [
        { text: 'Select One', value: null },
        { value: 'full-time', text: 'เต็มเวลา' },
        { value: 'pass-time', text: 'ไม่เต็มเวลา' },
        { value: 'engage', text: 'รับจ้าง' }
      ],
      positionOptions: [
        { text: 'Select One', value: null },
        { value: 'ผู้จัดการ', text: 'ผู้จัดการ' },
        { value: 'เลขา', text: 'เลขา' },
        { value: 'พนักงาน', text: 'พนักงาน' }
      ],
      salaryOptions: [
        { text: 'Select One', value: null },
        { value: '9,000-11,999(บาท)', text: '9,000-11,999(บาท)' },
        { value: '12,000-14,999(บาท)', text: '12,000-14,999(บาท)' },
        { value: '15,000-17,999(บาท)', text: '15,000-17,999(บาท)' },
        { value: '18,000-20,000(บาท)', text: '18,000-20,000(บาท)' }
      ],
      workList: [],
      fields: [
        'type',
        'workname',
        'position',
        'amount',
        'salary',
        'details',
        'opendate',
        'closedate',
        'operation'
      ]
    }
  },
  methods: {
    formatDate (value) {
      if (value) {
        return moment(String(value)).format('MM/DD/YYYY')
      }
    },
    addNewWork () {
      console.log('Add new work')
      this.$bvModal.show('modal-form-work')
    },
    editWork (work) {
      console.log('Edit: ')
      console.log(work)
      this.title = 'แก้ไขงาน'
      this.form = { ...work }
      this.$bvModal.show('modal-form-work')
    },
    delWork (work) {
      console.log('Delete: ')
      console.log(work)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบงาน ' + work.workname + ' หรือไม่', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteWork(work)
            // workService.deleteWork(work)
            axios
              .delete('http://localhost:3000/works/' + work._id)
              .then(res => {
                console.log(res)
                this.getWorks()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        type: null,
        workname: '',
        position: null,
        amount: '',
        salary: null,
        opendate: '',
        closedate: '',
        details: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (
        this.stateType === false ||
        this.stateWorkname === false ||
        this.statePosition === false ||
        this.stateAmount === false ||
        this.stateSalary === false ||
        this.stateOpendate === false ||
        this.stateClosedate === false ||
        this.stateDetails === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form._id !== '') {
        // this.updateWork(this.form)
        // workService.updateWork(this.form)
        axios
          .put('http://localhost:3000/works/', this.form)
          .then(res => {
            console.log(res)
            this.getWorks()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        // this.addWork(this.form)
        // workService.addWork(this.form)
        axios
          .post('http://localhost:3000/works/', this.form)
          .then(res => {
            console.log(res)
            this.getWorks()
          })
          .catch(err => {
            console.log(err)
          })
        this.getWorks()
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-work')
      })
    },
    addWork (work) {
      work.No = this.lastNo++
      this.workList.push(work)
    },
    updateWork (work) {
      const index = this.workList.findIndex(item => item.No === work.No)
      this.workList.splice(index, 1, work)
    },
    deleteWork (work) {
      const index = this.workList.findIndex(item => item.No === work.No)
      this.workList.splice(index, 1)
    },
    getWorks () {
      // this.workList = workService.getWorks()
      axios
        .get('http://localhost:3000/works/')
        .then(res => {
          console.log(res)
          this.workList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateType () {
      return this.form.type != null
    },
    invalidFeedbackType () {
      if (this.form.type != null) {
        return ''
      } else {
        return 'กรุณาเลือก'
      }
    },
    validFeedbackType () {
      return this.stateType === true ? 'สำเร็จ' : ''
    },
    stateWorkname () {
      return this.form.workname.length >= 2
    },
    invalidFeedbackWorkname () {
      if (this.form.workname.length > 2) {
        return ''
      } else if (this.form.workname.length > 0) {
        return 'ต้องมีอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่องาน'
      }
    },
    validFeedbackWorkname () {
      return this.stateWorkname === true ? 'สำเร็จ' : ''
    },
    statePosition () {
      return this.form.position != null
    },
    invalidFeedbackPosition () {
      if (this.form.position != null) {
        return ''
      } else {
        return 'กรุณาเลือก'
      }
    },
    validFeedbackPosition () {
      return this.statePosition === true ? 'สำเร็จ' : ''
    },
    stateAmount () {
      return this.form.amount > 0
    },
    invalidFeedbackAmount () {
      if (this.form.amount > 0) {
        return ''
      } else if (this.form.amount === 0) {
        return 'ต้องมีอย่างน้อย 1 คน'
      } else {
        return 'ต้องใส่จำนวนคน'
      }
    },
    validFeedbackAmount () {
      return this.stateAmount === true ? 'สำเร็จ' : ''
    },
    stateSalary () {
      return this.form.salary != null
    },
    invalidFeedbackSalary () {
      if (this.form.salary != null) {
        return ''
      } else {
        return 'กรุณาเลือก'
      }
    },
    validFeedbackSalary () {
      return this.stateSalary === true ? 'สำเร็จ' : ''
    },
    stateDetails () {
      return this.form.details.length > 2
    },
    invalidFeedbackDetails () {
      if (this.form.details.length > 2) {
        return ''
      } else if (this.form.details.length > 0) {
        return 'ต้องมีอย่างน้อย 3 ตัวอักษร'
      } else {
        return 'ต้องใส่รายละเอียดเพิ่มเติม'
      }
    },
    validFeedbackDetails () {
      return this.stateDetails === true ? 'สำเร็จ' : ''
    },
    stateOpendate () {
      return this.form.opendate.length >= 1
    },
    invalidFeedbackOpendate () {
      if (this.form.opendate.length > 1) {
        return ''
      } else if (this.form.opendate.length > 0) {
        return 'กรุณากรอกวันที่'
      } else {
        return 'กรุณากรอกวันที่'
      }
    },
    validFeedbackOpendate () {
      return this.stateOpendate === true ? 'ผ่าน' : ''
    },
    stateClosedate () {
      return this.form.closedate >= 1 || this.form.closedate > this.form.opendate
    },
    invalidFeedbackClosedate () {
      if (this.form.closedate > this.form.opendate && this.form.closedate != null) {
        return ''
      } else if (this.form.closedate < this.form.opendate) {
        return 'กรุณากรอกวันที่ และกรุณากรอกให้มากกว่าวันที่เปิดรับสมัคร'
      } else {
        return 'กรุณากรอกวันที่'
      }
    },
    validFeedbackClosedate () {
      return this.stateClosedate === true ? 'ผ่าน' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getWorks()
  }
}
</script>
