<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add Company</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Namecompany"
          label-for="Namecompany"
          :invalid-feedback="invalidFeedbackNamecompany"
          :valid-feedback="validFeedbackNamecompany"
          :state="stateNamecompany"
        >
          <b-form-input
            id="namecompany"
            v-model="form.namecompany"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Natureofbusiness"
          label-for="Natureofbusiness"
          :invalid-feedback="invalidFeedbackNatureofbusiness"
          :valid-feedback="validFeedbackNatureofbusiness"
          :state="stateNatureofbusiness"
        >
          <b-form-select
            id="Natureofbusiness"
            v-model="form.Natureofbusiness"
            :options="NatureofbusinessOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Companydetails"
          label-for="Companydetails"
          :invalid-feedback="invalidFeedbackCompanydetails"
          :valid-feedback="validFeedbackCompanydetails"
          :state="stateCompanydetails"
        >
          <b-form-input
            id="Companydetails"
            v-model="form.Companydetails"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Address"
          label-for="Address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input
            id="Addres"
            v-model="form.Address"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Tel"
          label-for="Tel"
          :invalid-feedback="invalidFeedbackTel"
          :valid-feedback="validFeedbackTel"
          :state="stateTel"
        >
          <b-form-input id="Tel" v-model="form.Tel" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Fax"
          label-for="Fax"
          :invalid-feedback="invalidFeedbackFax"
          :valid-feedback="validFeedbackFax"
          :state="stateFax"
        >
          <b-form-input id="Fax" v-model="form.Fax" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Email"
          label-for="Email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input id="Email" v-model="form.Email" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Websize"
          label-for="Websize"
          :invalid-feedback="invalidFeedbackWebsize"
          :valid-feedback="validFeedbackWebsize"
          :state="stateWebsize"
        >
          <b-form-input
            id="Websize"
            v-model="form.Websize"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Thejourney"
          label-for="Thejourney"
          :invalid-feedback="invalidFeedbackThejourney"
          :valid-feedback="validFeedbackThejourney"
          :state="stateThejourney"
        >
          <b-form-input
            id="Thejourney"
            v-model="form.Thejourney"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template #cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
// import userSarvice from './UserSarvice'
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มบริษัทใหม่',
      form: {
        id: -1,
        namecompany: '',
        Natureofbusiness: null,
        Companydetails: '',
        Address: '',
        Tel: '',
        Fax: '',
        Email: '',
        Websize: '',
        Thejourney: ''
      },
      NatureofbusinessOptions: [
        { text: 'Select One', value: null },
        { value: 'ค้าขาย', text: 'ค้าขาย' },
        { value: 'รับจ้าง', text: 'รับจ้าง' }
      ],
      userList: [],
      fields: [
        'id',
        'namecompany',
        'Natureofbusiness',
        'Companydetails',
        'Address',
        'Tel',
        'Fax',
        'Email',
        'Websize',
        'Thejourney',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แก้ไขบริษัท'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.namecompany + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/compangs/' + user._id)
              .then(res => {
                console.log(res)
                this.getUsers()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        namecompany: '',
        Natureofbusiness: null,
        Companydetails: '',
        Address: '',
        Tel: '',
        Fax: '',
        Email: '',
        Websize: '',
        Thejourney: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (
        this.stateNamecompany === false ||
        this.stateNatureofbusiness === false ||
        this.stateCompanydetails === false ||
        this.stateAddress === false ||
        this.stateTel === false ||
        this.stateFax === false ||
        this.stateEmail === false ||
        this.stateWebsize === false ||
        this.stateThejourney === false
      ) {
        return
      }

      // Do when pass validation
      if (this.form._id !== '') {
        // userSarvice.updateUser(this.form)
        // this.getUsers()
        axios
          .put('http://localhost:3000/compangs/', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        console.log(this.form)
        axios
          .post('http://localhost:3000/compangs/', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
        this.getUsers()
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getUsers () {
      axios
        .get('http://localhost:3000/compangs/')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateNamecompany () {
      return this.form.namecompany.length >= 2
    },
    invalidFeedbackNamecompany () {
      if (this.form.namecompany.length > 2) {
        return ''
      } else if (this.form.namecompany.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackNamecompany () {
      return this.stateNamecompany === true ? 'สำเร็จ' : ''
    },
    stateNatureofbusiness () {
      return this.form.Natureofbusiness != null
    },
    invalidFeedbackNatureofbusiness () {
      if (this.form.Natureofbusiness != null) {
        return ''
      } else {
        return 'ต้องเลือกอาชีพ'
      }
    },
    validFeedbackNatureofbusiness () {
      return this.stateNatureofbusiness === true ? 'สำเร็จ' : ''
    },
    stateCompanydetails () {
      return this.form.Companydetails.length >= 2
    },
    invalidFeedbackCompanydetails () {
      if (this.form.Companydetails.length > 2) {
        return ''
      } else {
        return 'ต้องใส่รายละเอียด'
      }
    },
    validFeedbackCompanydetails () {
      return this.stateCompanydetails === true ? 'สำเร็จ' : ''
    },
    stateAddress () {
      return this.form.Address.length >= 2
    },
    invalidFeedbackAddress () {
      if (this.form.Address.length > 2) {
        return ''
      } else {
        return 'ต้องใส่ที่อยู่'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    },
    stateTel () {
      return this.form.Tel.length === 10
    },
    invalidFeedbackTel () {
      if (this.form.Tel.length === 10) {
        return ''
      } else if (this.form.Tel.length > 10) {
        return 'ต้องใส่10ตัวเท่านั้น'
      } else {
        return 'ต้องใส่เบอร์โทร'
      }
    },
    validFeedbackTel () {
      return this.stateTel === true ? 'สำเร็จ' : ''
    },
    stateFax () {
      return this.form.Fax.length === 9
    },
    invalidFeedbackFax () {
      if (this.form.Fax.length === 9) {
        return ''
      } else if (this.form.Fax.length >= 9 && this.form.Fax.length < 9) {
        return 'ต้องใส่ให้ครบห้ามเกินและขาด'
      } else {
        return 'ต้องใส่เบอร์แฟ็ก'
      }
    },
    validFeedbackFax () {
      return this.stateFax === true ? 'สำเร็จ' : ''
    },
    stateEmail () {
      return this.form.Email.length >= 10
    },
    invalidFeedbackEmail () {
      if (this.form.Email.length > 10) {
        return ''
      } else {
        return 'ต้องใส่อีเมล'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'สำเร็จ' : ''
    },
    stateWebsize () {
      return this.form.Websize.length >= 5
    },
    invalidFeedbackWebsize () {
      if (this.form.Websize.length > 5) {
        return ''
      } else {
        return 'ต้องใส่เว็บไซต์'
      }
    },
    validFeedbackWebsize () {
      return this.stateWebsize === true ? 'สำเร็จ' : ''
    },
    stateThejourney () {
      return this.form.Thejourney.length >= 10
    },
    invalidFeedbackThejourney () {
      if (this.form.Thejourney.length > 10) {
        return ''
      } else {
        return 'ต้องใส่การเดินทาง'
      }
    },
    validFeedbackThejourney () {
      return this.stateThejourney === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted')
    this.getUsers()
  }
}
</script>
