<template>
  <div>
    <!--<h4>Search</h4>-->
    <div>
      <b-row>
        <b-col><input class="input" type="text" v-model="search"/></b-col>
      </b-row>
      <div v-for="work in filteredWorks" :key="work._id">
        <work :work="work"></work>
      </div>
    </div>
    <b-carousel
      id="carousel-fade"
      style="text-shadow: 0px 0px 2px #000"
      fade
      indicators
      img-width="1024"
      img-height="480"
    >
      <b-carousel-slide
        caption=""
        img-src="https://www.ratchakarnjobs.com/wp-content/uploads/2019/08/CP.jpg"
      ></b-carousel-slide>
      <b-carousel-slide
        caption=""
        img-src="https://polymer-innovation.com/wp-content/uploads/2020/02/%E0%B8%9B%E0%B9%89%E0%B8%B2%E0%B8%A2%E0%B8%AA%E0%B8%A1%E0%B8%B1%E0%B8%84%E0%B8%A3%E0%B8%87%E0%B8%B2%E0%B8%99-pic-scaled.jpg"
      ></b-carousel-slide>
      <b-carousel-slide
        caption=""
        img-src="https://www.jobthaiweb.com/images/new_header_price_2019.jpg?v=2"
      ></b-carousel-slide>
    </b-carousel>
  </div>
</template>
<style>
.input {
  width: 500px;
  margin-top: 15px;
  margin-bottom: 13px;
}
</style>

<script>
import axios from 'axios'
import Work from './../components/Work.vue'
export default {
  components: { Work },
  data () {
    return {
      search: '',
      works: []
    }
  },
  methods: {
    getWorks () {
      axios
        .get('http://localhost:3000/works/')
        .then(res => {
          this.works = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    filteredWorks () {
      return this.works.filter(work =>
        work.position.toLowerCase().includes(this.search.toLowerCase())
      )
    }
  },
  mounted () {
    this.getWorks()
  }
}
</script>
